.categoryItem {
    width: 253px;
    padding: 1rem;
    display: inline-flex;
    margin-right: 32px;
    cursor: pointer;
    margin-bottom: 25px;
}

.categoryItem:nth-child(4n) {
    margin-right: 0;
}

.categoryItem:hover {
    background-color: #EEF5FF;
}

.imageBox {
    display: flex;
    background-color: #EEF5FF;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.categoryImage {
    width: 24px;
    height: 24px;
}