.categoryItem {
    width: 271px;
    padding: 1rem;
    display: flex;
    margin-right: 32px;
    cursor: pointer;
}

.categoryItem:hover {
    background-color: #EEF5FF;
}

.imageBox {
    display: flex;
    background-color: #EEF5FF;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.categoryImage {
    width: 24px;
    height: 24px;
}