.header {
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 16px 27px;
}

.header h1 {
    color: #227AFF;
}

.account_block {
    display: flex;
    justify-content: flex-end;
}

.account_block .account_icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEF5FF;
    width: 48px;
    height: 48px;
    margin-right: 17px;
}

.account_block .account_icon:hover {
    background-color: #cdd4dd;
}