.header {
    margin-top: 25px;
    margin-bottom: 50px;
}

.row {
    padding: 16px 27px;
}

.header h1 {
    color: #227AFF;
    cursor: pointer;
}

.account_block {
    display: flex;
    justify-content: flex-end;
    min-height: 48px;
}

.account_block .account_icon {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEF5FF;
    width: 48px;
    height: 48px;
    margin-right: 17px;
}

.account_block .account_icon:hover {
    background-color: #cdd4dd;
}

@media (max-width: 500px) {
    .row {
        flex-direction: column;
        text-align: center;
    }
    .account_block {
        margin-top: 1rem;
        justify-content: center;
    }
}